<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Cvfrancis</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>



<body>


    <!-- <div class="div-carga">
        <div class="loading">Loading ...</div>
        <div class="cuadrado">

            <div class="cube-1"></div>
            <div class="cube-2"></div>
            <div class="cube-3"></div>

        </div>

    </div>-->
    <div id="padre">
        <div class="habilidades">
            <div class="content-foto-info">
                <div class="info">
                    <div class="info-head">
                        <Span class="title-company" translate="no"> Avatar Global</Span>
                        <Span class="description-job">Customizacion de e-comerce (HCL)</Span>
                    </div>


                    <div class="content-datos-descrip">
                        <div class="datos">

                            <span class="desc-content">
                            <i id="check" class="bi bi-check"></i>
                            <Span class="desc-detail">Actuslizacion de base de datos usando Oracle</Span>
                            </span>

                            <span class="desc-content">
                            <i id="check" class="bi bi-check"></i>
                            <Span class="desc-detail">ctuslizacion de base de datos usando Oracle</Span>
                            </span>

                            <span class="desc-content">
                            <i id="check" class="bi bi-check"></i>
                            <Span class="desc-detail">ctuslizacion de base de datos usando Oracle</Span>
                            </span>

                            <span class="desc-content">
                           
                            <i id="date-time-icon"  class="bi bi-clock-history"></i>
                            <Span class="desc-date">Feb. 2021 - Mar.2022</Span>

                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="habilidades">
            <div class="content-foto-info">
                <div class="info">
                    <div class="info-head">
                        <Span class="title-company" translate="no"> Interbank</Span>
                        <Span class="description-job">Customizacion de e-comerce (HCL)</Span>
                    </div>


                    <div class="content-datos-descrip">
                        <div class="datos">

                            <span class="desc-content">
                                <i id="check" class="bi bi-check"></i>
                                <Span class="desc-detail">Actuslizacion de base de datos usando Oracle</Span>
                            </span>

                            <span class="desc-content">
                                <i id="check" class="bi bi-check"></i>
                                <Span class="desc-detail">ctuslizacion de base de datos usando Oracle</Span>
                            </span>

                            <span class="desc-content">
                                <i id="check" class="bi bi-check"></i>
                                <Span class="desc-detail">ctuslizacion de base de datos usando Oracle</Span>
                            </span>

                            <span class="desc-content">
                            <i id="date-time-icon"  class="bi bi-clock-history"></i>
                            <Span class="desc-date">Feb. 2021 - Mar.2022</Span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="habilidades">
            <div class="content-foto-info">
                <div class="info">
                    <div class="info-head">
                        <Span class="title-company" translate="no"> Avatar Global</Span>
                        <Span class="description-job">Customizacion de e-comerce (HCL)</Span>
                    </div>


                    <div class="content-datos-descrip">
                        <div class="datos">

                            <span class="desc-content">
                                <i id="check" class="bi bi-check"></i>
                                <Span class="desc-detail">Actuslizacion de base de datos usando Oracle</Span>
                            </span>

                            <span class="desc-content">
                                <i id="check" class="bi bi-check"></i>
                                <Span class="desc-detail">ctuslizacion de base de datos usando Oracle</Span>
                            </span>

                            <span class="desc-content">
                                <i id="check" class="bi bi-check"></i>
                                <Span class="desc-detail">ctuslizacion de base de datos usando Oracle</Span>
                            </span>

                            <span class="desc-content">
                            <i id="date-time-icon"  class="bi bi-clock-history"></i>
                            <Span class="desc-date">Feb. 2021 - Mar.2022</Span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="habilidades">
            <div class="content-foto-info">
                <div class="info">
                    <div class="info-head">
                        <Span class="title-company" translate="no"> Avatar Global</Span>
                        <Span class="description-job">Customización de e-comerce (HCL)</Span>
                    </div>
                    <div class="content-datos-descrip">
                        <div class="datos">

                            <span class="desc-content">
                                <i id="check" class="bi bi-check"></i>
                                <Span class="desc-detail">Actuslizacion de base de datos usando Oracle</Span>
                            </span>

                            <span class="desc-content">
                                <i id="check" class="bi bi-check"></i>
                                <Span class="desc-detail">ctuslizacion de base de datos usando Oracle</Span>
                            </span>

                            <span class="desc-content">
                                <i id="check" class="bi bi-check"></i>
                                <Span class="desc-detail">ctuslizacion de base de datos usando Oracle</Span>
                            </span>

                            <span class="desc-content">
                            <i id="date-time-icon"  class="bi bi-clock-history"></i>
                            <Span class="desc-date">Feb. 2021 - Mar.2022</Span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="btn-whatsapp">
        <a href="https://wa.link/uul15g" target="_blank"><i id="i-whatsapp" class="bi bi-whatsapp"></i></a>
    </div>
-->
    <script>
        $(document).ready(function() {
            /* setTimeout(function() {
                 $(".div-carga").fadeOut(4100);
                 $(".div-carga").hide();
             }, 2000)*/

            setTimeout(function() {
                $(".div-carga").fadeIn(1500);
                $(".div-carga").hide();

            }, 6000);
        });
    </script>

</body>

</html>