<!DOCTYPE html>
<html lang="en">
<!--begin - home -->

<head>
    <meta charset="utf-8" />
    <title>Cvfrancis</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <meta name="description" content="Desarrollador - Ggiulios Francis Mendoza Chavez –
     Estudiante de la Universidad tecnológica del Perú - conocimientos en tecnologías web. 
     java, java script, ORACLE, SQL SERVER, Metodología Scrum.">

    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                "gtm.start": new Date().getTime(),
                event: "gtm.js",
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-TMXDBC8");
    </script>
    <!-- End Google Tag Manager -->
</head>

<body onload=" dataLayer = [{
    'pageCategory': 'signup',
    'visitorType': 'high-value'
}];">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TMXDBC8"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="sobremi-content" (click)="ocultarModal()">
        <div id="detail-sobremi-content">
            <div id="btn-close"><i class="bi bi-x-lg" (click)="ocultarModal()"></i></div>
            <span id="sobremi-title">Sobre mi</span>
            <div id="content-text-avatar">
                <div id="text-content">
                    <p>
                        This isn't just cheap WordPress Hosting. With EasyWP, your WordPress website is managed by our very own optimized cloud technology, giving you that "set-and-forget" experience. This unique infrastructure is designed to let each and every website live
                        and grow quickly, without hiccups.

                    </p>
                </div>
                <div id="sobre-mi-avatar">
                    <img src="/assets/MiAvatar.png" alt="" >
                </div>
            </div>
        </div>

    </div>
    <div class="div-carga">
        <div id="content-avatar-chargue">
            <img id="avatar-chargue" alt="" />
        </div>
        <div class="loading">Cargando ...</div>
        <div class="cuadrado">
            <div class="cube-1"></div>
            <div class="cube-2"></div>
            <div class="cube-3"></div>
        </div>
    </div>



    <div id="master">
        <div class="habilidades">
            <div class="content-foto-info">
                <div class="content-foto">
                    <div class="foto" (mouseenter)="showSaludo()" mouseleave=" ">
                        <img id="img" alt="" />
                    </div>
                </div>
                <div class="info">
                    <div class="info-head">
                        <Span class="hola" translate="no " (click)="reloadData()"><p> ¡Hello! </p></Span>
                        <Span class="nombre" translate="no "><p> Mi nombres es FRANCIS </p></Span>
                        <Span class="profesion" translate="yes">Soy Desarrollador</Span>
                        <Span class="conten-btn-sobre" translate="yes "><button id="btn-sobre-mi" (click)="mostrarModal()">Sobre mi</button></Span>
                    </div>
                </div>
            </div>
            <div class="content-datos-descrip">

                <div class="blok-content">
                    <div class="datos">
                        <Span class="direc"><i class="bi bi-geo-alt-fill"></i></Span>
                    </div>
                    <div class="descrip">
                        <Span class="descrip">Jr. Unión 1037 Carhuaz</Span>
                        <td>{{postulantRersponse.name}}</td> 
                    </div>
                </div>

                <div class="blok-content">
                    <div class="datos">
                        <Span class="direc"><i class="bi bi-phone-fill"></i></Span>
                    </div>
                    <div class="descrip">
                        <Span class="descrip">943-445789</Span>
                    </div>
                </div>

                <div class="blok-content">
                    <div class="datos">
                        <Span class="direc"><i class="bi bi-envelope-fill"></i></Span>
                    </div>
                    <div class="descrip">
                        <Span class="descrip">francismendozach@hotmail.com</Span>
                    </div>
                </div>
            </div>
            <!--  <div id="email ">
                <button id="mail ">Enviar</button>
                <input type="text " placeholder="Ingresa tu E-mail ">
                 </div>-->

            <div class="social">
                <a href=" "><i class="bi bi-linkedin"></i></a>
                <a href=" "> <i class="bi bi-facebook"></i></a>
                <a href=" "><i class="bi bi-instagram"></i></a>
            </div>
        </div>
        <div class="btn-whatsapp">
            <a href="https://wa.link/uul15g " target="_blank "><i id="i-whatsapp" class="bi bi-whatsapp"></i
        ></a>
        </div>
    </div>
</body>
<!--end - home-->
<script>
    function carga() {
        dataLayer = [{
            pageCategory: "signup",
            visitorType: "high-value",
        }, ];
        alert("hola ");
    }

    function mensaje() {
        alert("hola ");
    }
    window.dataLayer.push({
        someVariable: "xxx",
        someOtherVariable: "yyy",
    });
</script>

</html>