<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Cvfrancis</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>



<body>


    <!-- <div class="div-carga">
        <div class="loading">Loading ...</div>
        <div class="cuadrado">

            <div class="cube-1"></div>
            <div class="cube-2"></div>
            <div class="cube-3"></div>

        </div>

    </div>-->
    <div id="main">
        <div class="habilidades">
            <div class="content-foto-info">
                <div class="info">
                    <div class="info-head">
                        <span id="content-icon-guitar"><img id="icon-sport" ></span>
                        <Span class="title-company" translate="no">Deporte</Span>
                    </div>

                    <hr class="separador-info">
                    <div class="content-datos-descrip">
                        <div class="datos">

                            <span class="desc-content">
                            <i id="check" class="bi bi-check"></i>
                            <Span class="desc-detail">Actuslizacion de base de datos usando Oracle gfdgfdgfdgfdgdfgfdgfdgfdgfd
                                Actuslizacion de base de datos usando Oracle gfdgfdgfdgfdgdfgfdgfdgf
                                Actuslizacion de base de datos usando Oracle gfdgfdgfdgfdgdfgfdgfdgf
                                Actuslizacion de base de datos usando Oracle gfdgfdgfdgfdgdfgfdgfdgf
                                
                            </Span>
                            </span>


                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="habilidades">
            <div class="content-foto-info">
                <div class="info">
                    <div class="info-head">
                        <span id="content-icon-guitar"><img id="icon-guitar" ></span>
                        <Span class="title-company" translate="no"> Arte</Span>
                    </div>

                    <hr class="separador-info">
                    <div class="content-datos-descrip">
                        <div class="datos">

                            <span class="desc-content">
                            <i id="check" class="bi bi-check"></i>
                            <Span class="desc-detail">Actuslizacion de base de datos usando Oracle gfdgfdgfdgfdgdfgfdgfdgfdgfd
                                Actuslizacion de base de datos usando Oracle gfdgfdgfdgfdgdfgfdgfdgf
                                Actuslizacion de base de datos usando Oracle gfdgfdgfdgfdgdfgfdgfdgf
                                Actuslizacion de base de datos usando Oracle gfdgfdgfdgfdgdfgfdgfdgf
                                
                            </Span>
                            </span>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="btn-whatsapp">
        <a href="https://wa.link/uul15g" target="_blank"><i id="i-whatsapp" class="bi bi-whatsapp"></i></a>
    </div>

    <script>
        $(document).ready(function() {
            /* setTimeout(function() {
                 $(".div-carga").fadeOut(4100);
                 $(".div-carga").hide();
             }, 2000)*/

            setTimeout(function() {
                $(".div-carga").fadeIn(1500);
                $(".div-carga").hide();

            }, 6000);
        });
    </script>

</body>

</html>